Apps/RedBus/WSDL/redbus_locationinfo.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.redbus.in/WS2/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.redbus.in/WS2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  </wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.redbus.in/WS2/">
      <s:element name="GetAllCities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authentication" type="tns:Authentication" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCitiesResult" type="tns:CityList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CityList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="Cities" type="tns:ArrayOfCity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseType" type="tns:ResponseType" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suggestion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseType">
        <s:restriction base="s:string">
          <s:enumeration value="Error" />
          <s:enumeration value="Warring" />
          <s:enumeration value="Information" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="City">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CityID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CityName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllSourceDestinationPairs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authentication" type="tns:Authentication" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSourceDestinationPairsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSourceDestinationPairsResult" type="tns:SourceDestinationList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SourceDestinationList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceDestinations" type="tns:ArrayOfSourceDestination" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSourceDestination">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SourceDestination" nillable="true" type="tns:SourceDestination" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SourceDestination">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SourceID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllOperators">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authentication" type="tns:Authentication" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOperatorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllOperatorsResult" type="tns:TravelsList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TravelsList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="Travels" type="tns:ArrayOfTravel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTravel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Travel" nillable="true" type="tns:Travel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Travel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TravelName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="GetAllCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSourceDestinationPairsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSourceDestinationPairs" />
  </wsdl:message>
  <wsdl:message name="GetAllSourceDestinationPairsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSourceDestinationPairsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllOperatorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOperators" />
  </wsdl:message>
  <wsdl:message name="GetAllOperatorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOperatorsResponse" />
  </wsdl:message>
  <wsdl:portType name="Location_x0020_Information_x0020_ServiceSoap">
    <wsdl:operation name="GetAllCities">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">API to give all the list of cities along with their city ids.</wsdl:documentation>
      <wsdl:input message="tns:GetAllCitiesSoapIn" />
      <wsdl:output message="tns:GetAllCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSourceDestinationPairs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">API to give list of all source-destination pairs to which bus services are available.</wsdl:documentation>
      <wsdl:input message="tns:GetAllSourceDestinationPairsSoapIn" />
      <wsdl:output message="tns:GetAllSourceDestinationPairsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOperators">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">API to give all the list of Operators .</wsdl:documentation>
      <wsdl:input message="tns:GetAllOperatorsSoapIn" />
      <wsdl:output message="tns:GetAllOperatorsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Location_x0020_Information_x0020_ServiceSoap" type="tns:Location_x0020_Information_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction="http://www.redbus.in/WS2/GetAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSourceDestinationPairs">
      <soap:operation soapAction="http://www.redbus.in/WS2/GetAllSourceDestinationPairs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOperators">
      <soap:operation soapAction="http://www.redbus.in/WS2/GetAllOperators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Location_x0020_Information_x0020_ServiceSoap12" type="tns:Location_x0020_Information_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCities">
      <soap12:operation soapAction="http://www.redbus.in/WS2/GetAllCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSourceDestinationPairs">
      <soap12:operation soapAction="http://www.redbus.in/WS2/GetAllSourceDestinationPairs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOperators">
      <soap12:operation soapAction="http://www.redbus.in/WS2/GetAllOperators" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Location_x0020_Information_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:documentation>
    <wsdl:port name="Location_x0020_Information_x0020_ServiceSoap" binding="tns:Location_x0020_Information_x0020_ServiceSoap">
      <soap:address location="http://www.redbus.in/WS2/LocationInformationService.asmx" />
    </wsdl:port>
    <wsdl:port name="Location_x0020_Information_x0020_ServiceSoap12" binding="tns:Location_x0020_Information_x0020_ServiceSoap12">
      <soap12:address location="http://www.redbus.in/WS2/LocationInformationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>